<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-theme.min.css">
    <link rel="stylesheet" href="blog.css">
    {% block css %}
    {% endblock %}
    <!-- css end -->


    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Главная</a>
          <a class="blog-nav-item" href="#">Новости</a>
          <a class="blog-nav-item" href="#">Абитуриенту</a>
          <a class="blog-nav-item" href="#">Об образовательной организации</a>
          <a class="blog-nav-item" href="#">Студенту</a>
          <a class="blog-nav-item" href="#">Выпускнику</a>
          <a class="blog-nav-item" href="#">Наука</a>
          <a class="blog-nav-item" href="#">Доп образование</a>
        </nav>
      </div>
    </div>

    {% block content %}
    {% endblock %}

</body>

    <script src="bootstrap.min.js"></script>

    {% block js %}
    {% endblock %}

</html>