{% extends 'template/base.html' %}

{% block blog_header %}
    <h1 class="blog-title">Главная</h1>
{% endblock %}

{% block content %}
        <div class="blog-post">
            <h2 class="blog-post-title">Информация для главной</h2>

            <p>
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
            </p>
        </div>

        <div class="blog-post">
            <h2 class="blog-post-title">Информация для главной</h2>

            <p>
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
                Тут будет много много текста
            </p>
        </div>

{% endblock %}
